form{
    margin-bottom: 20px;
    margin-left: 20px;
}

h2{
    margin-left: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}